
<div>
    <h2><span>Orçamento</span> {{vm.orcamento.servico.codigo}}</h2>
    <hr>
    <!-- <jhi-alert-error></jhi-alert-error> -->
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="hmProjetosApp.orcamento.valor">Valor</span></dt>
        <dd>
            <span>{{vm.orcamento.valor}}</span>
        </dd>
        <dt><span data-translate="hmProjetosApp.orcamento.entrada">Entrada</span></dt>
        <dd>
            <span>{{vm.orcamento.entrada}}</span>
        </dd>
        <dt><span data-translate="hmProjetosApp.orcamento.servico">Servico</span></dt>
        <dd>
            <a ui-sref="servico-detail({id:vm.orcamento.servico.id})">{{vm.orcamento.servico.codigo}}</a>
        </dd>

    <dt><span>Parcelas</span></dt>
    <dd>
    <div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ng-click="newParcela()" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- <input type="text" ng-model="textType" ng-class="textType">
    <div ng-class="textType">Look! I'm Words!</div>
 -->

    <div class="table-responsive" ng-if="TemParcela()">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    
                    <th><span>Status</span></th>
                    <th><span>Valor</span></th>
                    <th><span>Data Estipulada</span></th>
                    <th><span>Data Efetuada</span></th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="parcela in vm.parcelas track by parcela.id">
                    
                    <td data-translate="{{parcela.status}}" ng-class="parcela.status">{{parcela.status}}</td>
                    <td>{{parcela.valor}}</td>
                        <td>{{parcela.dtestipulada | date:'mediumDate'}}</td>
                        <td>{{parcela.dtefetuada | date:'mediumDate'}}</td>
                   
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ng-click="editParcela({id:parcela.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ng-click="delParcela({id:parcela.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</dd>


















    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="orcamento-detail.edit({id:vm.orcamento.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
