<div>
    <h2>Serviços</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <!-- <button class="btn btn-primary" ui-sref="servico.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Criar novo Serviço
                    </span>
                </button> -->
            </div>
            <div class="col-xs-4">
                
                
                    
            </div>
            <div class="col-xs-4 no-padding-right">

                <div class="glyphicon glyphicon-search"></div>
                <input type="text" placeholder="Buscar" class="form-control" name="filtro" id="field_nome"
                    ng-model="vm.filtro" ng-change="Filtrar()" style="width: 80%; display: inline-block;" 
                    />

            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <!-- <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                   <!--  <th jh-sort-by="tipo"><span data-translate="hmProjetosApp.servico.tipo">Tipo</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="codigo"><span data-translate="hmProjetosApp.servico.codigo">Codigo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="observacao"><span data-translate="hmProjetosApp.servico.observacao">Observacao</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <!-- <th jh-sort-by="valor"><span data-translate="hmProjetosApp.servico.valor">Valor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="forma"><span data-translate="hmProjetosApp.servico.forma">Forma</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="endereco"><span data-translate="hmProjetosApp.servico.endereco">Endereco</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bairro"><span data-translate="hmProjetosApp.servico.bairro">Bairro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- <th jh-sort-by="cidade"><span data-translate="hmProjetosApp.servico.cidade">Cidade</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <!-- <th jh-sort-by="estado"><span data-translate="hmProjetosApp.servico.estado">Estado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cep"><span data-translate="hmProjetosApp.servico.cep">Cep</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inicio"><span data-translate="hmProjetosApp.servico.inicio">Inicio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fim"><span data-translate="hmProjetosApp.servico.fim">Fim</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <!-- <th jh-sort-by="iptu"><span data-translate="hmProjetosApp.servico.iptu">Iptu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="link"><span data-translate="hmProjetosApp.servico.link">Link</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="descricao.id"><span>Descrição</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cliente.id"><span data-translate="hmProjetosApp.servico.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="servico in vm.servicos track by servico.id">
                    <!-- <td><a ui-sref="servico-detail({id:servico.id})">{{servico.id}}</a></td> -->
                    <!-- <td data-translate="{{'hmProjetosApp.TipoServico.' + servico.tipo}}">{{servico.tipo}}</td> -->
                    <td>
                    <a ui-sref="servico-detail({id:servico.id})">{{servico.codigo}}</a>
                </td>
                    <!-- <td>{{servico.observacao}}</td> -->
                    <!-- <td>{{servico.valor}}</td> -->
                    <!-- <td>{{servico.forma}}</td> -->
                    <td>{{servico.endereco}}</td>
                    <td>{{servico.bairro}}</td>
                    <!-- <td>{{servico.cidade}}</td> -->
                    <!-- <td>{{servico.estado}}</td> -->
                    <!-- <td>{{servico.cep}}</td> -->
                        <!-- <td>{{servico.inicio | date:'shortDate'}}</td> -->
                        <!-- <td>{{servico.fim | date:'shortDate'}}</td> -->
                    <!-- <td>{{servico.iptu}}</td> -->
                    <!-- <td>{{servico.link}}</td> -->
                    <td>
                        {{servico.descricao.nome}}
                    </td>
                    <td>
                        <a ui-sref="cliente-detail({id:servico.cliente.id})">{{servico.cliente.nome}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="servico-detail({id:servico.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="servico.edit({id:servico.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="servico.delete({id:servico.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
