<div>
    <h2 data-translate="hmProjetosApp.cliente.home.title">Clientes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cliente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="hmProjetosApp.cliente.home.createLabel">
                        Create new Cliente
                    </span>
                </button>
            </div>
            <div class="col-xs-4">
                
                    
            </div>
            <div class="col-xs-4 no-padding-right">

                <div class="glyphicon glyphicon-search"></div>
                <input type="text" placeholder="Buscar" class="form-control" name="filtro" id="field_nome"
                    ng-model="vm.filtro"  ng-model-options='{ debounce: 1000 }' ng-change="Filtrar()" style="width: 80%; display: inline-block;" 
                    />

            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <!-- <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="nome"><span data-translate="hmProjetosApp.cliente.nome">Nome</span><span style="padding-left: 5px;" class="glyphicon glyphicon-sort"></span></th>
                    <th>Endereco</th>
                    <th>Bairro</th>
                   <!--  <th jh-sort-by="cidade"><span data-translate="hmProjetosApp.cliente.cidade">Cidade</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estado"><span data-translate="hmProjetosApp.cliente.estado">Estado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cep"><span data-translate="hmProjetosApp.cliente.cep">Cep</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="hmProjetosApp.cliente.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="indicacao"><span data-translate="hmProjetosApp.cliente.indicacao">Indicacao</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <!-- <th jh-sort-by="documento"><span data-translate="hmProjetosApp.cliente.documento">Documento</span> --><!--  <span class="glyphicon glyphicon-sort"></span> -->
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="cliente in vm.clientes track by cliente.id">
                    <td><a ui-sref="cliente-detail({id:cliente.id})">{{cliente.nome}}</a></td>
                    <!-- <td>{{cliente.nome}}</td> -->
                    <td>{{cliente.endereco}}</td>
                    <td>{{cliente.bairro}}</td>
                    <!-- <td>{{cliente.cidade}}</td>
                    <td>{{cliente.estado}}</td> -->
                    <!-- <td>{{cliente.cep}}</td> -->
                    <!-- <td>{{cliente.email}}</td> -->
                    <!-- <td>{{cliente.indicacao}}</td> -->
                    <!-- <td>{{cliente.documento}}</td> -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cliente-detail({id:cliente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cliente.edit({id:cliente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cliente.delete({id:cliente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
