
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClienteLabel" data-translate="hmProjetosApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!-- <div class="form-group" ng-show="vm.cliente.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.cliente.id" readonly />
        </div> -->

<div class="form-group">
    <div class="row">
    <div class="col-sm-7">
      <label class="control-label" data-translate="hmProjetosApp.cliente.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.cliente.nome"
                    />
    </div>
    <div class="col-sm-5">
      <label class="control-label" data-translate="hmProjetosApp.cliente.documento" for="field_documento">Documento</label>
            <input type="text" class="form-control" name="documento" id="field_documento"
                    ng-model="vm.cliente.documento"
                    />
    </div>
    </div>
    </div>

         <div class="form-group">
    <div class="row">
    <div class="col-sm-7">
      <label class="control-label" data-translate="hmProjetosApp.cliente.endereco" for="field_endereco">Endereco</label>
            <input type="text" class="form-control" name="endereco" id="field_endereco"
                    ng-model="vm.cliente.endereco"
                    />
    </div>
    <div class="col-sm-5">
      <label class="control-label" data-translate="hmProjetosApp.cliente.bairro" for="field_bairro">Bairro</label>
            <input type="text" class="form-control" name="bairro" id="field_bairro"
                    ng-model="vm.cliente.bairro"
                    />
    </div>
    </div>
    </div>




    <div class="form-group">
    <div class="row">
    <div class="col-sm-5">
      <label class="control-label" data-translate="hmProjetosApp.cliente.cidade" for="field_cidade">Cidade</label>
            <input type="text" class="form-control" name="cidade" id="field_cidade"
                    ng-model="vm.cliente.cidade"
                    />
    </div>
    <div class="col-sm-2">
        <label class="control-label" data-translate="hmProjetosApp.cliente.estado" for="field_estado">Estado</label>
            <input type="text" class="form-control" name="estado" id="field_estado"
                    ng-model="vm.cliente.estado"
                    ng-maxlength="2"/>
            <div ng-show="editForm.estado.$invalid">
                <p class="help-block"
                    ng-show="editForm.estado.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="2">
                    This field cannot be longer than 2 characters.
                </p>
            </div>
    </div>
    <div class="col-sm-5">
      <label class="control-label" data-translate="hmProjetosApp.cliente.cep" for="field_cep">Cep</label>
            <input type="text" class="form-control" name="cep" id="field_cep"
                    ng-model="vm.cliente.cep" ng-blur="buscaCEP()"
                    />
                <div ng-show="vm.cepinvalido">
                <p class="help-block">
                    CEP Inválido.
                </p>
                </div>
    </div>
    </div>
    </div>



   <!--  <div class="form-group">
    <div class="row">
    <div class="col-sm-5">
      
    </div>
    <div class="col-sm-2">
        
    </div>
    <div class="col-sm-5">
      
    </div>
    </div>
    </div> -->



    <div class="form-group">
    <div class="row">
    <div class="col-sm-7">
      <label class="control-label" data-translate="hmProjetosApp.cliente.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.cliente.email"
                    />
    </div>

    <div class="col-sm-5">
      <label class="control-label" data-translate="hmProjetosApp.cliente.indicacao" for="field_indicacao">Indicacao</label>
            <input type="text" class="form-control" name="indicacao" id="field_indicacao"
                    ng-model="vm.cliente.indicacao"
                    />
    </div>
    </div>
    </div>

        <div class="form-group">
    <div class="row">

    <div class="col-sm-2">
        <label class="control-label">Telefone:</label>
    </div>

    <div class="col-sm-3">
      <label class="control-label" for="field_contato">Contato</label>
            <input type="text" class="form-control" name="contato" id="field_contato"
                    ng-model="vm.contato"
                    />
    </div>

    <div class="col-sm-3">
      <label class="control-label" for="field_numero">Número</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.numero"
                    />
    </div>
    </div>
    </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
