<div>
    <h2>Telefones</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <!-- <button class="btn btn-primary" ui-sref="telefone.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="hmProjetosApp.telefone.home.createLabel">
                        Create new Telefone
                    </span>
                </button> -->
            </div>
            <div class="col-xs-4">


            </div>
            <div class="col-xs-4 no-padding-right">

                <div class="glyphicon glyphicon-search"></div>
                <input type="text" placeholder="Buscar" class="form-control" name="filtro" id="field_nome"
                ng-model="vm.filtro" ng-change="Filtrar()" style="width: 80%; display: inline-block;" 
                />

            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <!-- <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                    <th jh-sort-by="cliente.nome"><span data-translate="hmProjetosApp.telefone.cliente">Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contato"><span data-translate="hmProjetosApp.telefone.contato">Contato</span></span></th>
                    <th jh-sort-by="numero"><span>Número</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="telefone in vm.telefones track by telefone.id">
                    <!-- <td><a ui-sref="telefone-detail({id:telefone.id})">{{telefone.id}}</a></td> -->
                    
                    <td>
                        <a ui-sref="cliente-detail({id:telefone.cliente.id})">{{telefone.cliente.nome}}</a>
                    </td>
                    <td>{{telefone.contato}}</td>
                    <td>{{telefone.numero}}</td>
                    
                    <!-- <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                            ui-sref="telefone-detail({id:telefone.id})"
                            class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                        ui-sref="telefone.edit({id:telefone.id})"
                        class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                    </button>
                    <button type="submit"
                    ui-sref="telefone.delete({id:telefone.id})"
                    class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                </button>
            </div>
        </td> -->
    </tr>
</tbody>
</table>
</div>
</div>
