<div>
    <h2>Situações</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid hidden">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="situacao.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Criar nova Situação
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="tipo"><span data-translate="hmProjetosApp.situacao.tipo">Tipo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dtinicio"><span>Inicio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dtfim"><span>Fim</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dtestipulada"><span>Estipulada</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Serviço</span></th>
                    <th><span>Responsável</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="situacao in vm.situacaos track by situacao.id">
                        <td>
                        <span ng-if="situacao.tipo == 'FM'">Fazer Medição</span>
                         <span ng-if="situacao.tipo == 'FD_LIVRE'" >Fazer Desenho (Livre)</span>
                         <span ng-if="situacao.tipo == 'FD_HC'" >Fazer Desenho (Helio)</span>
                         <span ng-if="situacao.tipo == 'FCC_LOCAL'" >Fazer Contato Cliente (Ir ao Local)</span>
                         <span ng-if="situacao.tipo == 'FCC_LIGAR'" >Fazer Contato Cliente (Ligar)</span>
                         <span ng-if="situacao.tipo == 'FCT'" >Fazer Contato Terceiros</span>
                         <span ng-if="situacao.tipo == 'R_INICIAL'" >Revisão Inicial</span>
                         <span ng-if="situacao.tipo == 'R_FINAL'" >Revisão Final</span>
                         <span ng-if="situacao.tipo == 'ARC'" >Aguardando Resposta Cliente</span>
                         <span ng-if="situacao.tipo == 'ART'" >Aguardando Resposta Terceiros</span>
                         <span ng-if="situacao.tipo == 'EP'" >Entregar Projeto</span>
                         <span ng-if="situacao.tipo == 'D'" >Desenhando</span>
                        </td>
                        <td>{{situacao.dtinicio | date:'shortDate'}}</td>
                        <td>{{situacao.dtfim | date:'shortDate'}}</td>
                        <td>{{situacao.dtestipulada | date:'shortDate'}}</td>
                        <td>
                            <a ui-sref="servico-detail({id:situacao.servico.id})">{{situacao.servico.codigo}}</a  >
                        </td>
                        <td>{{situacao.responsavel.user.login}}</td>
                    
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="situacao-detail({id:situacao.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="situacao.edit({id:situacao.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="situacao.delete({id:situacao.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
