<div>
    <div class="container-fluid" style="padding-left: 0px;">
        <div class="row">
            <div class="col-sm-12" style="margin-top: 20px;
            margin-bottom: 10px;"><h2 style="    display: inline;
            ">Relatório por Situação</h2>

            <button class="btn btn-default" style="float: right;    display: inline;
            " ng-click="printToCart('toPrint')">
            <span class="glyphicon glyphicon-print"></span>
        </button>

    </div>        
</div>
</div>

<br>

<jhi-alert></jhi-alert>
<div class="container-fluid"  style="padding-left: 0px;">

    <div class="row">


        <div class="col-sm-6">
            <div class="form-group">
                <label for="field_tipo">Tipo</label>
                <select ng-change="gerarRelatorio()" class="form-control" id="field_tipo" name="tipo" ng-model="vm.tipo" ng-options="tipoSituacao as tipoSituacao.nome for tipoSituacao in vm.tipoSituacaos track by tipoSituacao.nome">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="field_responsavel">Responsável</label>
                <select ng-disabled="vm.terceiro" class="form-control" ng-change="gerarRelatorio()" id="field_responsavel" name="responsavel" ng-model="vm.responsavel" ng-options="user as user.firstName for user in vm.users track by users.id">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="field_terceiro">Terceiro</label>
                <input ng-disabled="vm.responsavel" ng-change="gerarRelatorio()" ng-model-options='{ debounce: 1000 }' type="text" class="form-control" id="field_terceiro" name="terceiro" ng-model="vm.terceiro"/>
            </div>
        </div>

    </div>

 <!--    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" ng-click="gerarRelatorio()">Gerar Relatório</button>


        </div>


    </div> -->



        <!-- <div class="row">
            <div class="col-sm-6">
      <label class="control-label"  for="field_inicio">Data de Inicio</label>
                <div class="input-group">
                    <input id="field_inicio" type="text" class="form-control" name="inicio" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.servico.inicio" is-open="vm.datePickerOpenStatus.inicio"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('inicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
    </div>
    <div class="col-sm-6">
      <label class="control-label"  for="field_fim">Data de Fim</label>
                <div class="input-group">
                    <input id="field_fim" type="text" class="form-control" name="fim" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.servico.fim" is-open="vm.datePickerOpenStatus.fim"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fim')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
    </div>
</div> -->
</div>
<br/>
<div class="table-responsive" id="toPrint">

    <h2><span ng-if="vm.tipo"> {{vm.tipo.nome}} </span><span style="float: right;" ng-if="vm.terceiro"> {{vm.terceiro}} </span><span style="float: right;padding-right: 10px" ng-if="vm.responsavel"> {{vm.responsavel.user.firstName}} </span></h2>

    <table class="jh-table table table-striped">
        <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <!-- <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th> -->

                <th><span>Tipo</span></span></th>

                <th jh-sort-by="servico.id"><span>Serviço</span></span></th>

                <!-- <th jh-sort-by="tipo.id"><span data-translate="hmProjetosApp.situacao.tipo">Tipo</span> <span class="glyphicon glyphicon-sort"></span></th> -->

                <th><span>Cliente</span></th>

                <th jh-sort-by="observacao"><span>Descrição</span></th>
                <!-- <th jh-sort-by="terceiro"><span data-translate="hmProjetosApp.situacao.terceiro">Terceiro</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                <th jh-sort-by="dtinicio"><span>Data Inicio</span> <span class="glyphicon glyphicon-sort"></span></th>
                <!-- <th jh-sort-by="dtfim"><span>Data Fim</span> <span class="glyphicon glyphicon-sort"></span></th> -->
                <th jh-sort-by="dtestipulada"  ng-if="vm.responsavel"><span>Data Estipulada</span> <span class="glyphicon glyphicon-sort"></span></th>
                <!-- <th jh-sort-by="descricao.id"><span data-translate="hmProjetosApp.situacao.descricao">Descricao</span> <span class="glyphicon glyphicon-sort"></span></th> -->


                <th ng-if="vm.responsavel"><span>Responsável</span></th>
                <th ng-if="vm.terceiro"><span>Terceiro</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="situacao in vm.situacaos track by situacao.id">
                <!-- <td><a ui-sref="situacao-detail({id:situacao.id})">{{situacao.id}}</a></td> -->

                <td>
                    {{situacao.tipo.nome}}
                </td>

                <td>
                    <a ui-sref="servico-detail({id:situacao.servico.id})">{{situacao.servico.codigo}}</a>
                </td>

                <td>
                    <a ui-sref="cliente-detail({id:situacao.servico.cliente.id})">{{situacao.servico.cliente.nome}}</a>
                </td>


                <td>{{situacao.observacao}}</td>
                <!-- <td>{{situacao.terceiro}}</td> -->
                <td>{{situacao.dtinicio | date:'shortDate'}}</td>
                <!-- <td>{{situacao.dtfim | date:'shortDate'}}</td> -->
                <td ng-if="vm.responsavel">{{situacao.dtestipulada | date:'shortDate'}}</td>
                    <!-- <td>
                        <a ui-sref="descricao-situacao-detail({id:situacao.descricao.id})">{{situacao.descricao.id}}</a>
                    </td> -->
                    

                    <td ng-if="vm.responsavel">
                       {{situacao.responsavel.user.firstName}}
                   </td>
                   <td ng-if="vm.terceiro">
                    {{situacao.terceiro}}
                   </td>
                   <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                            <!-- <button type="submit"
                                    ui-sref="situacao-detail({id:situacao.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button> -->
                            <!-- <button type="submit"
                                    ui-sref="situacao.edit({id:situacao.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button> -->
                            <!-- <button type="submit"
                                    ui-sref="situacao.delete({id:situacao.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button> -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
